.navbar-brand {
    color: var(--navbar-text-color);
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-link {
    color: var(--primary-blue);
    margin-right: 10px;
    padding: 5px;
    pointer-events: all;
    border: 2px solid transparent;
    transition: border 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
    border-color: var(--accent-color);
    color: var(--light-text);
}

.navbar-logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.navbar {
    background: linear-gradient(to bottom, var(--fade-color), var(--dark-background));
}

.navbar a {
    color: var(--primary-blue) !important;
    font-size: 1.1rem;
}

.dropdown-login {
    background: var(--light-background);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 1000;
    width: 200px;
}

.dropdown-login input {
    margin-bottom: 10px;
}

.dropdown-login button {
    background-color: var(--button-color);
    color: white;
}


    .navbar-collapse {
    flex-grow: 0;
}

.nav-item {
    margin-right: 15px;
}

.modal-overlay-register {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container-register {
    cursor: default;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    background-color: var(--light-background);
    color: var(--light-text);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    display: flex; /* Gør containeren til en flexbox */
    flex-direction: column; /* Placer elementerne i en kolonne */
    justify-content: center; /* Centrer lodret */
    align-items: center; /* Centrer vandret */
    gap: 15px; /* Tilføj mellemrum mellem elementerne */
}

.modal-container-register input{
    background-color: var(--light-input) !important;
}

.btn.me-2{
    color: var(--light-text);
}

input {
    background-color: var(--light-input) !important;
    color: var(--light-text) !important;
}
input::placeholder {
    color: var(--placeholder--text) !important;

}
