:root {
  --primary-blue: #dfe0ff;
  --dark-background: #171717;
  --light-background: #212121;
  --light-input: #2f2f2f;
  --light-text: #f9f9f9 ;
  --placeholder--text: #969494;
  --accent-color: #8AC4FF;
  --button-color: #4A90E2;
  --fade-color: #000000;

  --navbar-text-color: var(--light-text);
}

.container{
  background: rgba(255,255,255,0);
}

html, body {
  background-color: var(--light-background);
  color: var(--light-text);
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
}

#root {
  background: linear-gradient(to bottom, var(--dark-background), var(--light-input));
  min-height: 100vh;
}

.homepage-button:hover {
  background-color: var(--accent-color);
}

.btn.btn-outline-primary {
  background-color: var(--button-color);
  color: var(--light-text);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  accent-color: var(--accent-color)
}

background{
  background-color: var(--dark-background);
  color: var(--light-text);
  padding: 20px;
  min-height: 100vh;
}

h1 {
  color: var(--primary-blue);
  -webkit-text-stroke: 2px #000;
  font-size: 3rem !important;
  margin-bottom: 10px;
}

.h5 {
  color: var(--light-text);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  color: var(--light-text);
  font-size: 1.1rem;
}

a {
  color: var(--primary-blue);
}

a:hover {
  color: var(--accent-color);
}


input[type="text"],
input[type="password"] {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
}


button {
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}


button:hover {
  background-color: #0056b3;
}

div.card {
  background: var(--light-background); /* Mørkere baggrund, der passer til layoutet */
  border: 1px solid #40414F; /* Subtil kant for at adskille kortene */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Dybere skygge for dybde */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  border-radius: 12px; /* Blødere afrundede hjørner */
  padding: 15px; /* Indre mellemrum */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card-body {
  padding: 20px;
  text-align: center;


}

.card-title {
  color: var(--light-text) !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
  display: inline-block;
}

div.card-text {
  font-size: 2rem;
  font-weight: bold;
  color: var(--light-text) !important;
  margin-bottom: 0;
}


.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.card-text {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0;
  color: var(--light-text) !important;
}

.bg-danger.text-white {
  background-color: #f30d28 !important;
  color: white !important;

}

.disabled-card {
  pointer-events: none;
  opacity: 0.6;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mb-4 {
  color: var(--light-text) !important;
}

.mb-3 {
  color: var(--light-text) !important;
}

.custom-placeholder::placeholder {
  color: #ffffff;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  cursor: default;
  height: 90%;
  max-height: 500px;
  width: 90%;
  max-width: 500px; /* Justeret for pænere visning */
  padding: 20px;
  background-color: var(--light-background);
  color: var(--light-text);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


div.modal-container {
  background-color: var(--light-background) !important;
}

.spinner-container {
  background-color: var(--light-background); /* Din ønskede baggrundsfarve */
  border: none !important; /* Fjern enhver border */
  outline: none !important; /* Fjern outline */
  box-shadow: none !important; /* Fjern eventuelle skygger */
  border-radius: 8px; /* Behold afrundede hjørner */
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}

.modal-container input[type="text"] {
  background-color: var(--light-input) !important;
  width: 94%;
  color: var(--light-text) !important;
  border: none !important;
  outline: none !important;
  position: absolute;
  bottom: 20px;
}

.reply-container {
  background-color: var(--light-background);
  max-width: 80%;
  border-radius: 20px;
  padding-left: 20px;
  margin-bottom: 10px;
}

.message-container {
  background-color: var(--button-color);
  max-width: 80%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  display: inline-block;
  white-space: pre-wrap;
}

.outer-container {
  width: 100%;
  height: 85%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

::placeholder {
  color: var(--placeholder--text);
  opacity: 1;
}

::-ms-input-placeholder {
  color: var(--placeholder--text);
}

.me-2 {
  color: var(--light-text);
}